<!DOCTYPE html>
<html lang="en">
  {{> shared/head}}
  <body id="{{slug}}">
    <section id="wrapper">
      {{> shared/header}}	  
      <h2>{{headline}}</h2>
      <div id="orders">
        <img src="{{permalink}}custom_orders.jpg" alt="Custom Orders"/>
        <span class="orderform">{{> shared/custom_order_form }}</span>
      </div>
      <div class="clear"></span>
      {{> shared/footer}}
    </section>
    {{> shared/nav_tracker }}
    {{> shared/analytics }}
  </body>
</html>