<!DOCTYPE html>
<html lang="en">
  {{> shared/head}}
  <body id="{{slug}}">
    <section id="wrapper">
      {{> shared/header}}	
	  
	    <article>
	      <h2>{{headline}}</h2>
		    {{#profile}}
		      <img src="{{permalink}}katherine.jpg" class="profile">
		    {{/profile}}
				{{#shop}}
					{{{etsyembed}}}
				{{/shop}}
		    {{{body}}}
		    {{#contact}}
		      <span id="contactform">
		        {{> shared/contact_form}}
		      </span>
		    {{/contact}}
	    </article>
	    <div class="clear"></div>
      {{> shared/footer}}
    </section>
    {{> shared/nav_tracker }}
    {{> shared/analytics }}
  </body>
</html>