<!DOCTYPE html>
<html lang="en">
  {{> shared/head}}
  <body id="{{slug}}">
    <section id="wrapper">
      {{> shared/header}}	
	      
      <div id="banner">
        <div id="fader">	  
          <!-- {{#banner}}
            <img src="{{path}}" alt="{{name}}" />
          {{/banner}} -->  
	          <img src="/index/banner/a.jpg" alt="a.jpg" /> 
	          <img src="/index/banner/b.jpg" alt="b.jpg" /> 
	          <img src="/index/banner/five.jpg" alt="five.jpg" /> 
	          <img src="/index/banner/four.jpg" alt="four.jpg" /> 
	          <img src="/index/banner/one.jpg" alt="one.jpg" /> 
	          <img src="/index/banner/three.jpg" alt="three.jpg" /> 
	          <img src="/index/banner/two.jpg" alt="two.jpg" /> 
        </div>
      </div>    
      {{> shared/footer}}
    </section>
    {{> shared/analytics }}
    {{> shared/nav_tracker }}
    {{> shared/index_script }}
  </body>
</html>