<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
  try {
    var pageTracker = _gat._getTracker("{{analytics_code}}");
    pageTracker._trackPageview();
  } catch(err) {}
</script>
<!-- Start of StatCounter Code -->
<script type="text/javascript">
var sc_project=5721181; 
var sc_invisible=1; 
var sc_partition=61; 
var sc_click_stat=1; 
var sc_security="b12036a3"; 
</script>

<script type="text/javascript"
src="http://www.statcounter.com/counter/counter.js"></script><noscript><div
class="statcounter"><a title="profile counter"
href="http://www.statcounter.com/free_profile_counter.html"
target="_blank"><img class="statcounter"
src="http://c.statcounter.com/5721181/0/b12036a3/1/"
alt="profile counter" ></a></div></noscript>
<!-- End of StatCounter Code -->