<script type="text/javascript">
$(document).ready(function() {
	if(location.pathname != "/") {
		$('#navigation a[href^="/' + location.pathname.split("/")[1] + '"]').addClass('active');
	} else $('#navigation a:eq(0)').addClass('active');
});
$(document).ready(function() {
	$('#sub-navigation a[href^="/Portfolio/' + location.pathname.split("/")[2] + '"]').addClass('active');
});
</script>